:root{
    --bgColor: #EFECE3;
    --darkBgColor: #dedbd3;
    --accentColor: #4A70A9;
    --lightAccentColor: #4A70A9;
    --presentColor: #FCB53B;
    --correctColor: #63A361;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

h1{
    text-align: center;
    font-size: 90px;

}

body{
    height: 100vh;
    background-color: var(--bgColor);
}

.tablero{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.letra{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 130px;
    height: 140px;
    border: 5px solid #4A70A9;
    
    border-radius: 5px;
    font-size: 80px;
    font-weight: 500;
    background-color: var(--darkBgColor);
}

.fila-wordle{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presente{
    background-color: var(--presentColor);
}

.correcta{
    background-color: var(--correctColor);
}